
.letter {
  width: 980px;
  margin: 0 auto 150px;
  padding: 0 20px;
}

.letter_inner {
  border: 1px solid #111;
  padding: 50px;
}

.letter_list h2 {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 50px;
  font-weight: normal;
}

.letter_list h2 small {
  font-size: 15px;
  color: #ff8856;
}


.letter_item p {
  letter-spacing: 3px;
  line-height: 3;
  margin-bottom: 50px;
}

.letter_item p img {
  width: 100%;
  height: auto;
}

